@import './colors.scss';

.browse-body-container {
  background-image: url('https://www.walldevil.com/wallpapers/a80/landscape-earth-planet-background-wallpapers.jpg');
  background-size: cover;
  min-height: 900px;

  .browse-body {
    margin-top: 25px;

    h1 {
      color: white;
    }

    .slide-image {
      width: 100%;
    }

    .carousel-holder {
      margin-bottom: 30px;
    }

    .carousel-control,
    .item {
      border-radius: 4px;
    }

    .caption {
      height: 130px;
      overflow: hidden;
    }

    .caption h4 {
    }

    .thumbnail img {
      height: 200px;
      width: 300px;
    }

    .thumbnail-title {
      color: $theme-blue;
    }

    .ratings {
      padding-right: 10px;
      padding-left: 10px;
      color: #d17581;

      .stars {
        margin-left: 10px;
      }
    }

    .thumbnail {
      padding: 0;
    }

    .thumbnail .caption-full {
      padding: 9px;
      color: #333;
    }

    footer {
      margin: 50px 0;
    }

    .info-container  {
      color: white;

      .info-btn {
        background-color: $theme-pink;
        color: white;
      }

      .info-btn:hover {
        background-color: $theme-pink-dark;
      }
    }

    .info-title {
      color: $theme-pink;

    }
  }

  .lead {
    color: white;
    margin: 20px;
    font-size: 20px;
    font-weight: normal;
  }
}
