$theme-blue: #1b6d85;
$theme-blue-light: #d5f6f6;
$theme-blue-dark: #114555;
$grey: #333333;
$grey-light: #E5E5E5;
$grey-med: #999;
$grey-transparent: rgba(51, 51, 51, .5);
$off-white: #ddd;
$theme-pink: #ed6b75;
$theme-pink-dark: #e63342;
$theme-teal: #1abc9c;
$theme-teal-light: #4afcdc;
$theme-teal-dark: #09ab8b;
$theme-red: #b94152;
$theme-red-dark: #a93142;
$theme-yellow: #ffc25a;
$theme-yellow-dark: #e0b040;
$theme-yellow-text: #af720a;