$theme-blue: #1b6d85;
$theme-blue-light: #d5f6f6;
$theme-blue-dark: #114555;
$grey: #333333;
$grey-light: #E5E5E5;
$off-white: #ddd;
$theme-pink: #ed6b75;
$theme-pink-dark: #e63342;
$theme-teal: #1abc9c;
$theme-teal-light: #4afcdc;
$theme-teal-dark: #09ab8b;
$theme-red: #b94152;
$theme-red-dark: #a93142;
$theme-yellow: #ffc25a;
$theme-yellow-dark: #e0b040;
$theme-yellow-text: #af720a;

.group-dashboard {
  margin-left: 200px;

  .dashboard-content {
    .container-fluid .row-fluid:first-child {
      margin-top: 20px;
    }

    .container-fluid {
      padding-left: 20px;
      padding-right: 20px;
    }

    /* Stat boxes and quick actions */
    .content-container {
      width: 100%;
      text-align: center;
      position: relative;
      float: left;
      margin-top: 10px;

      .item-title {
        padding: 20px;
        background: $grey;
        margin-bottom: 0px;
      }

    }

    .content-container .content-list .span3 {
      width: 45%;
    }

    .content-list {
      display: block;
      list-style: none outside none;
      margin: 15px 0;
      text-align: center;
    }

    .content-list li {
      float: left;
      line-height: 50px;
      margin: 0 10px 10px 0px;
      min-width: 14%;
      min-height: 50px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .content {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .dashboard-item {
      color: $grey;
      overflow: scroll;
    }
  }

  .accordion {
    width: 100%;
    margin: 0px auto;

    h1, h2, h3, h4 {
      cursor: pointer;
      margin: 0px;
    }

    h1 {
      padding: 15px 20px;
      background-color: white;
      font-size: larger;
      font-weight: bold;
      color: $theme-teal;
    }

    h1:hover {
      color: $theme-teal-dark;
    }

    div, p {
      display: none;
    }

    h2 {
      padding: 15px 25px;
      background-color: $theme-teal;
      font-size: large;
      color: $grey;
    }

    h2:hover {
      background-color: $theme-teal-dark;
    }

    h3 {
      padding: 15px;
      background-color: $theme-red;
      font-size: large;
      color: #ddd;
    }

    h3:hover {
      background-color: $theme-red-dark;
    }

    h4 {
      padding: 10px 35px;
      background-color: $theme-yellow;
      font-size: medium;
      color: $theme-yellow-text;
    }

    h4:hover {
      background-color: $theme-yellow-dark;
    }

    p {
      padding: 10px 35px;
      background-color: $off-white;
      font-family: "Georgia";
      font-size: medium;
      color: #333;
      line-height: 1.3rem;
      margin-bottom: 0px;
    }

    .opened-for-codepen {
      display: block;
    }
  }
}