.login {
  background-color: #333333;
  color: white;
  position: relative;

  .main {
    max-width: 500px;
    margin: 0 auto;
    min-height: 1000px;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #333333;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #333333;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }
  a {
    color: $theme-blue;
  }

}
