$theme-blue: #1b6d85;

.notecard {
    float: left;
    margin: 10px;
    -webkit-perspective: 600px;

  .front, .back {
    background-color: $theme-blue;
    color: white;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
    border: 1px solid black;
    transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
  }

  .front {
    padding: 20px;
    width: 250px;
    height: 330px;
    overflow: scroll;
    position: absolute;
    z-index: 1;
  }

  .back {
    padding: 20px;
    width: 250px;
    height: 330px;
    overflow: scroll;
    -webkit-transform: rotateY(-180deg);
  }

  .rotate-back {
    -webkit-transform: rotateY(0);
  }

  .rotate-front {
    -webkit-transform: rotateY(180deg);
  }
}