@import './colors.scss';


.under-construction {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; /* Remove this line if it's not going to be a background! */
  background: url(http://museforyoushop.com/parallax-image-background-widget/assets/muse-for-you-image-213.jpeg);
  background-size: cover;
  min-height: 1000px;

  .title {
    background: $grey-transparent;
    padding: 30px;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;

    h1 {
      color: white;
      opacity: 1;
      font-size: 90px;

      b {
        font-weight: 100px;
        color: $theme-pink;
      }
    }
  }
}